* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid__item {
  width: 100%;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  background-color: #e2e8f0;
  border: none;
  border-radius: 5px;
}

.grid__item:focus {
  outline: none;
}

.letter-correct {
  background-color: #6ee7b7;
  color: #334155;
  animation-name: letter-correct-anim;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.letter-incorrect {
  animation-name: letter-incorrect-anim;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

/* Animations */
@keyframes letter-correct-anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes letter-incorrect-anim {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
