* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid__item {
  width: 100%;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  background-color: #e2e8f0;
  border: none;
  border-radius: 5px;
}

.grid__item:focus {
  outline: none;
}

.letter-correct {
  background-color: #6ee7b7;
  color: #334155;
}
