:root {
  --color-correct: #6ee7b7;
  --color-incorrect: #94a3b8;
  --color-exists: #fef08a;
  --background-color-light: #ffffff;
  --accent-color-light: #e2e8f0;
  --text-color-light: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-light);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 4rem;
}

.game-controls {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-controls-container {
  min-width: 500px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color-light);
  border-radius: 10px;
}

.game-controls__start-button {
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f5f9;
  color: var(--text-color-light);
  border: 0 solid #e5e7eb;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid__item {
  width: 100%;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  background-color: var(--accent-color-light);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
}

.grid__item:focus {
  outline: none;
}

.letter-correct {
  background-color: var(--color-correct);
  animation-name: letter-correct-anim;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.letter-incorrect {
  background-color: var(--color-incorrect);
  animation-name: letter-incorrect-anim;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.letter-exists {
  background-color: var(--color-exists);
  animation-name: letter-exists-anim;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

/* Animations */
@keyframes letter-correct-anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes letter-exists-anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes letter-incorrect-anim {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
